In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("MissingMigrantsGlobal.csv", encoding= "latin", sep ="\t")

In [3]:
df.head(4)

,Web ID,Region of Incident,Reported Date,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
0,51591,Mediterranean,"March 28, 2019",2019,Mar,NaN,2.0,2,36.0,NaN,2.0,NaN,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,"38.362368696592, 26.172509473654",Eastern Mediterranean,NaN,Uncategorized,5
1,51588,Mediterranean,"March 26, 2019",2019,Mar,4.0,NaN,4,11.0,3.0,NaN,1.0,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,"39.441975591614, 26.378816195919",Eastern Mediterranean,http://bit.ly/2YmiPAN,Uncategorized,5
2,51589,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on Playa del Tarajal, Ceuta, Sp...","Ceuta al día, El Pueblo de Ceuta","35.871901875921, -5.343037665842",Western Mediterranean,"http://bit.ly/2uyj7qO, http://bit.ly/2uwj5zC",Uncategorized,3
3,51590,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on beach near Tetouan, Morocco ...",El Pueblo de Ceuta,"35.635115912988, -5.275650103548",Western Mediterranean,http://bit.ly/2uwj5zC,Uncategorized,1

In [4]:
df.columns

Index(['Web ID', 'Region of Incident', 'Reported Date', 'Reported Year',
       'Reported Month', 'Number Dead', 'Minimum Estimated Number of Missing',
       'Total Dead and Missing', 'Number of Survivors', 'Number of Females',
       'Number of Males', 'Number of Children', 'Cause of Death',
       'Location Description', 'Information Source', 'Location Coordinates',
       'Migration Route', 'URL', 'UNSD Geographical Grouping',
       'Source Quality'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5333 entries, 0 to 5332
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Web ID                               5333 non-null   int64
 1   Region of Incident                   5333 non-null   object
 2   Reported Date                        5333 non-null   object
 3   Reported Year                        5333 non-null   int64
 4   Reported Month                       5333 non-null   object
 5   Number Dead                          5142 non-null   float64
 6   Minimum Estimated Number of Missing  503 non-null    float64
 7   Total Dead and Missing               5333 non-null   int64
 8   Number of Survivors                  749 non-null    float64
 9   Number of Females                    897 non-null    float64
 10  Number of Males                      2813 non-null   float64
 11  Number of Children                   644 non-null    float64
 12  Cause of Death                       5333 non-null   object
 13  Location Description                 5323 non-null   object
 14  Information Source                   5331 non-null   object
 15  Location Coordinates                 5332 non-null   object
 16  Migration Route                      2660 non-null   object
 17  URL                                  3192 non-null   object
 18  UNSD Geographical Grouping           5322 non-null   object
 19  Source Quality                       5333 non-null   int64
dtypes: float64(6), int64(4), object(10)
memory usage: 833.4+ KB

In [6]:
df.shape

(5333, 20)

In [7]:
df.describe()

,Web ID,Reported Year,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Source Quality
count,5333.000000,5333.000000,5142.000000,503.000000,5333.000000,749.000000,897.000000,2813.000000,644.000000,5333.000000
mean,43247.885805,2016.656104,3.287631,29.119284,5.916370,63.607477,2.012263,1.890864,2.476708,2.895556
std,5186.837212,1.237033,13.593407,67.913216,28.051811,146.520155,2.990100,5.510674,10.216220,1.423257
min,30158.000000,2014.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,40876.000000,2016.000000,1.000000,2.000000,1.000000,5.000000,1.000000,1.000000,1.000000,2.000000
50%,43504.000000,2017.000000,1.000000,7.000000,1.000000,15.000000,1.000000,1.000000,1.000000,2.000000
75%,45747.000000,2018.000000,2.000000,25.000000,3.000000,61.000000,2.000000,1.000000,2.000000,4.000000
max,51592.000000,2019.000000,750.000000,750.000000,1022.000000,1950.000000,30.000000,135.000000,250.000000,5.000000

In [8]:
df.isna().sum()

Web ID                                    0
Region of Incident                        0
Reported Date                             0
Reported Year                             0
Reported Month                            0
Number Dead                             191
Minimum Estimated Number of Missing    4830
Total Dead and Missing                    0
Number of Survivors                    4584
Number of Females                      4436
Number of Males                        2520
Number of Children                     4689
Cause of Death                            0
Location Description                     10
Information Source                        2
Location Coordinates                      1
Migration Route                        2673
URL                                    2141
UNSD Geographical Grouping               11
Source Quality                            0
dtype: int64

In [9]:
#What are the Top 10 Region of Incidents with higher incidents?
df["Region of Incident"].value_counts()[:10]

US-Mexico Border      1337
North Africa          1239
Mediterranean          984
Sub-Saharan Africa     475
Central America        309
Europe                 249
Horn of Africa         235
Middle East            164
South Asia             151
Southeast Asia          96
Name: Region of Incident, dtype: int64

In [10]:
#What is the Percentage of missing Females, Males and Children in top 10 regions of incidents?
(df.groupby("Region of Incident")["Number of Females"].sum() / df["Number of Females"].sum())*100

Region of Incident
Caribbean              2.105263
Central America        2.160665
Central Asia           0.000000
East Asia              0.055402
Europe                 1.939058
Horn of Africa         3.878116
Mediterranean         44.930748
Middle East            3.324100
North Africa          14.681440
North America          0.055402
South America          0.720222
South Asia             0.997230
Southeast Asia         8.310249
Sub-Saharan Africa    11.468144
US-Mexico Border       5.373961
Name: Number of Females, dtype: float64

In [11]:
(df.groupby("Region of Incident")["Number of Males"].sum() / df["Number of Males"].sum())*100

Region of Incident
Caribbean              1.504042
Central America        6.016168
Central Asia           0.000000
East Asia              0.056402
Europe                 5.170145
Horn of Africa         4.436924
Mediterranean         35.683399
Middle East            2.669675
North Africa          11.223914
North America          0.000000
South America          0.394811
South Asia             3.384095
Southeast Asia         2.481669
Sub-Saharan Africa     8.385035
US-Mexico Border      18.593721
Name: Number of Males, dtype: float64

In [12]:
(df.groupby("Region of Incident")["Number of Children"].sum() / df["Number of Children"].sum())*100

Region of Incident
Caribbean              0.313480
Central America        3.009404
Central Asia           0.000000
East Asia              0.000000
Europe                 2.445141
Horn of Africa         2.758621
Mediterranean         42.006270
Middle East            4.576803
North Africa           9.028213
North America          0.000000
South America          1.065831
South Asia             1.128527
Southeast Asia        22.758621
Sub-Saharan Africa     9.278997
US-Mexico Border       1.630094
Name: Number of Children, dtype: float64

##### 3.	List most common Information Source according to region of incident wise

In [13]:
s = df.groupby("Region of Incident")["Information Source"].value_counts()

In [14]:
s["Caribbean"]

Information Source
Dominican Today                                                              3
El Nuevo Herald                                                              3
Listin Diario                                                                2
US Coast Guard                                                               2
14ymedio                                                                     1
7 días                                                                       1
AP                                                                           1
Antigua Observer                                                             1
Associated Press                                                             1
Avance 24 en Linea                                                           1
CDN, Hoy Digital                                                             1
Caribbean News Now                                                           1
Cayman inews and Cuban Archives                                              1
Ciber Cuba                                                                   1
Diario Libre                                                                 1
EFE, Listin Diario, 7 días                                                   1
El Caribe                                                                    1
El Heraldo                                                                   1
El Nacional                                                                  1
El Nacional, El Nuevo Herald, Infobae, Noticias Curazao                      1
FL Keys News                                                                 1
Haiti Press Network                                                          1
IOM Brazil, Business Standard News                                           1
IOM Dominican Republic, Hoy Digital                                          1
IOM Dominican Republic, Listin Diario                                        1
IOM Haiti, Haitian Directorate for Civil Protection, Ministry of Interior    1
La Prensa, Ciber Cuba                                                        1
Listin Diario, Acento                                                        1
Listin Diario, Loop Haiti                                                    1
Local 10 ABC News                                                            1
Local10.com                                                                  1
Miami Actualidad                                                             1
Miami Herald                                                                 1
Miami Herald                                                                 1
NTN24, Gerardo Morón, El Pitazo                                              1
NY Times                                                                     1
New York Times                                                               1
Noticias RPTV                                                                1
Notidiarias                                                                  1
PanamPost                                                                    1
Proceso, Listin Diario, Acento                                               1
Royal Turks and Caicos Islands Police Force                                  1
Sun Sentinel, Miami Herald                                                   1
Telemundo PR                                                                 1
The Guardian                                                                 1
The Star                                                                     1
The Tico Times                                                               1
US Coast Guard, CBS                                                          1
US Coast guard                                                               1
WPTV                                                                         1
Washington Times                                                             1
Yahoo News                                                                   1
Yahoo! News                                                                  1
Name: Information Source, dtype: int64

In [15]:
s.loc["Caribbean"]

Information Source
Dominican Today                                                              3
El Nuevo Herald                                                              3
Listin Diario                                                                2
US Coast Guard                                                               2
14ymedio                                                                     1
7 días                                                                       1
AP                                                                           1
Antigua Observer                                                             1
Associated Press                                                             1
Avance 24 en Linea                                                           1
CDN, Hoy Digital                                                             1
Caribbean News Now                                                           1
Cayman inews and Cuban Archives                                              1
Ciber Cuba                                                                   1
Diario Libre                                                                 1
EFE, Listin Diario, 7 días                                                   1
El Caribe                                                                    1
El Heraldo                                                                   1
El Nacional                                                                  1
El Nacional, El Nuevo Herald, Infobae, Noticias Curazao                      1
FL Keys News                                                                 1
Haiti Press Network                                                          1
IOM Brazil, Business Standard News                                           1
IOM Dominican Republic, Hoy Digital                                          1
IOM Dominican Republic, Listin Diario                                        1
IOM Haiti, Haitian Directorate for Civil Protection, Ministry of Interior    1
La Prensa, Ciber Cuba                                                        1
Listin Diario, Acento                                                        1
Listin Diario, Loop Haiti                                                    1
Local 10 ABC News                                                            1
Local10.com                                                                  1
Miami Actualidad                                                             1
Miami Herald                                                                 1
Miami Herald                                                                 1
NTN24, Gerardo Morón, El Pitazo                                              1
NY Times                                                                     1
New York Times                                                               1
Noticias RPTV                                                                1
Notidiarias                                                                  1
PanamPost                                                                    1
Proceso, Listin Diario, Acento                                               1
Royal Turks and Caicos Islands Police Force                                  1
Sun Sentinel, Miami Herald                                                   1
Telemundo PR                                                                 1
The Guardian                                                                 1
The Star                                                                     1
The Tico Times                                                               1
US Coast Guard, CBS                                                          1
US Coast guard                                                               1
WPTV                                                                         1
Washington Times                                                             1
Yahoo News                                                                   1
Yahoo! News                                                                  1
Name: Information Source, dtype: int64

In [16]:
for i in df["Region of Incident"].unique():
    print(i.upper().center(80))
    print()
    print(s.loc[i][:5])
    print("_"*80)

                                 MEDITERRANEAN

Information Source
IOM Libya               102
IOM Italy                90
UNHCR                    42
Hellenic Coast Guard     24
Hurriyet Daily News      22
Name: Information Source, dtype: int64
________________________________________________________________________________
                                CENTRAL AMERICA

Information Source
Debate         6
El Heraldo     4
La 72          4
La Journada    4
Milenio        4
Name: Information Source, dtype: int64
________________________________________________________________________________
                                US-MEXICO BORDER

Information Source
Pima County Office of the Medical Examiner    681
South Texas Human Rights Center                46
US Border Patrol                               31
Hidalgo County Sheriff's Office                29
Hoy Tamaulipas                                 23
Name: Information Source, dtype: int64
________________________________________________________________________________
                                 SOUTHEAST ASIA

Information Source
Mixed Migration Monitoring Mechanism Initiative (4mi)    18
Bangladeshi Police/OHCHR                                 15
AFP                                                       6
IOM Bangladesh                                            6
OHCHR                                                     4
Name: Information Source, dtype: int64
________________________________________________________________________________
                                  NORTH AFRICA

Information Source
Mixed Migration Monitoring Mechanism Initiative (4Mi)    674
Mixed Migration Monitoring Mechanism Initiative (4mi)    316
MHub                                                     186
IOM Libya                                                  9
IOM Niger                                                  4
Name: Information Source, dtype: int64
________________________________________________________________________________
                                   CARIBBEAN

Information Source
Dominican Today    3
El Nuevo Herald    3
Listin Diario      2
US Coast Guard     2
14ymedio           1
Name: Information Source, dtype: int64
________________________________________________________________________________
                                     EUROPE

Information Source
Calais Migrant Solidarity    13
AP                           11
UNHCR                         9
BBC                           8
Reuters                       8
Name: Information Source, dtype: int64
________________________________________________________________________________
                                 SOUTH AMERICA

Information Source
Caracol Radio                                                    2
El Universal                                                     2
O Liberal                                                        2
Asamblea Nacional de Venezuela, El Estímulo, Diario La Nación    1
CDN                                                              1
Name: Information Source, dtype: int64
________________________________________________________________________________
                                  MIDDLE EAST

Information Source
Syrian Observatory for Human Rights       96
Human Rights Watch                         9
Action Group for Palestinians of Syria     8
Daily Sabah                                3
Hurriyet                                   3
Name: Information Source, dtype: int64
________________________________________________________________________________
                                 HORN OF AFRICA

Information Source
Mixed Migration Monitoring Mechanism Initiative (4Mi)    130
Mixed Migration Monitoring Mechanism Initiative (4mi)     60
Society for Humanitarian Solidarity                       10
IOM Yemen                                                  9
UNHCR                                                      7
Name: Information Source, dtype: int64
________________________________________________________________________________
                               SUB-SAHARAN AFRICA

Information Source
Mixed Migration Monitoring Mechanism Initiative (4mi)    269
Mixed Migration Monitoring Mechanism Initiative (4Mi)    156
IOM Niger                                                  4
IOM Tanzania                                               2
MHub                                                       2
Name: Information Source, dtype: int64
________________________________________________________________________________
                                   SOUTH ASIA

Information Source
IOM Afghanistan                                          92
Mixed Migration Monitoring Mechanism Initiative (4mi)    41
MHub                                                      2
Samaa                                                     2
AFP                                                       1
Name: Information Source, dtype: int64
________________________________________________________________________________
                                   EAST ASIA

Information Source
China Central Television (eng); China News Service (eng) (ECNS)     1
Coconuts Hong Kong                                                  1
EJIinsight                                                          1
Jakarta Post                                                        1
Taiwan Coast Guard Administration, VN Express, BBC Vietnamese       1
Name: Information Source, dtype: int64
________________________________________________________________________________
                                  CENTRAL ASIA

Information Source
Reuters, EurasiaNet, Asia News    1
Name: Information Source, dtype: int64
________________________________________________________________________________
                                 NORTH AMERICA

Information Source
CBC    1
Name: Information Source, dtype: int64
________________________________________________________________________________

##### 4. What are the most common causes of death in every region?

In [17]:
f = df.groupby("Region of Incident")["Cause of Death"].value_counts()

In [18]:
f

Region of Incident  Cause of Death
Caribbean           Drowning                                    25
                    Presumed drowning                           17
                    Unknown                                      7
                    Shot                                         2
                    Vehicle Accident                             2
                                                                ..
US-Mexico Border    Hypoglycemia                                 1
                    Pneumonia                                    1
                    Train Accident                               1
                    Unknown (mummified and skeletal remains)     1
                    Unknown (violence)                           1
Name: Cause of Death, Length: 454, dtype: int64

In [19]:
for i in df["Region of Incident"].unique():
    print(i.upper().center(80))
    print()
    print(f[i][:5])
    print("_"*80)

                                 MEDITERRANEAN

Cause of Death
Drowning                     535
Presumed drowning            227
Unknown                      138
Hypothermia                   12
Unknown (found on dinghy)      9
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                CENTRAL AMERICA

Cause of Death
Fall from train     63
Hit by train        38
Vehicle Accident    36
Train Accident      26
Shot                21
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                US-MEXICO BORDER

Cause of Death
Unknown (skeletal remains)    468
Drowning                      261
Unknown                       256
Hyperthermia                   54
Presumed drowning              49
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                 SOUTHEAST ASIA

Cause of Death
Drowning             29
Presumed drowning    15
Shot                  9
Vehicle Accident      9
Unknown               7
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                  NORTH AFRICA

Cause of Death
Sickness and lack of access to medicines    435
Vehicle Accident                            112
Starvation                                   76
Unknown                                      50
Dehydration                                  44
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                   CARIBBEAN

Cause of Death
Drowning             25
Presumed drowning    17
Unknown               7
Shot                  2
Vehicle Accident      2
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                     EUROPE

Cause of Death
Vehicle Accident    52
Drowning            29
Hypothermia         17
Hit by vehicle      16
Hit by train        15
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                 SOUTH AMERICA

Cause of Death
Cardiac arrest          4
Hypothermia             4
Presumed drowning       4
Drowning                3
Presumed hypothermia    2
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                  MIDDLE EAST

Cause of Death
Shot                                        63
Sickness and lack of access to medicines    50
Vehicle Accident                            12
Hypothermia                                 10
Drowning                                     9
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                 HORN OF AFRICA

Cause of Death
Sickness and lack of access to medicines    103
Drowning                                     30
Shot or stabbed                              25
Vehicle Accident                             16
Starvation, Dehydration                      10
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                               SUB-SAHARAN AFRICA

Cause of Death
Sickness and lack of access to medicines    150
Vehicle Accident                             93
Unknown                                      40
Dehydration                                  31
Shot or stabbed                              17
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                   SOUTH ASIA

Cause of Death
Vehicle Accident                            87
Shot                                        23
Shot or stabbed                             10
Unknown                                      9
Sickness and lack of access to medicines     6
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                   EAST ASIA

Cause of Death
Drowning             3
Fall                 1
Presumed drowning    1
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                  CENTRAL ASIA

Cause of Death
Bus fire    1
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                 NORTH AMERICA

Cause of Death
Hypothermia    1
Name: Cause of Death, dtype: int64
________________________________________________________________________________

In [20]:
for i in df["Region of Incident"].unique():
    print(i.upper().center(80))
    print()
    print(f.loc[i][:5])
    print("_"*80)

                                 MEDITERRANEAN

Cause of Death
Drowning                     535
Presumed drowning            227
Unknown                      138
Hypothermia                   12
Unknown (found on dinghy)      9
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                CENTRAL AMERICA

Cause of Death
Fall from train     63
Hit by train        38
Vehicle Accident    36
Train Accident      26
Shot                21
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                US-MEXICO BORDER

Cause of Death
Unknown (skeletal remains)    468
Drowning                      261
Unknown                       256
Hyperthermia                   54
Presumed drowning              49
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                 SOUTHEAST ASIA

Cause of Death
Drowning             29
Presumed drowning    15
Shot                  9
Vehicle Accident      9
Unknown               7
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                  NORTH AFRICA

Cause of Death
Sickness and lack of access to medicines    435
Vehicle Accident                            112
Starvation                                   76
Unknown                                      50
Dehydration                                  44
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                   CARIBBEAN

Cause of Death
Drowning             25
Presumed drowning    17
Unknown               7
Shot                  2
Vehicle Accident      2
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                     EUROPE

Cause of Death
Vehicle Accident    52
Drowning            29
Hypothermia         17
Hit by vehicle      16
Hit by train        15
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                 SOUTH AMERICA

Cause of Death
Cardiac arrest          4
Hypothermia             4
Presumed drowning       4
Drowning                3
Presumed hypothermia    2
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                  MIDDLE EAST

Cause of Death
Shot                                        63
Sickness and lack of access to medicines    50
Vehicle Accident                            12
Hypothermia                                 10
Drowning                                     9
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                 HORN OF AFRICA

Cause of Death
Sickness and lack of access to medicines    103
Drowning                                     30
Shot or stabbed                              25
Vehicle Accident                             16
Starvation, Dehydration                      10
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                               SUB-SAHARAN AFRICA

Cause of Death
Sickness and lack of access to medicines    150
Vehicle Accident                             93
Unknown                                      40
Dehydration                                  31
Shot or stabbed                              17
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                   SOUTH ASIA

Cause of Death
Vehicle Accident                            87
Shot                                        23
Shot or stabbed                             10
Unknown                                      9
Sickness and lack of access to medicines     6
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                   EAST ASIA

Cause of Death
Drowning             3
Fall                 1
Presumed drowning    1
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                  CENTRAL ASIA

Cause of Death
Bus fire    1
Name: Cause of Death, dtype: int64
________________________________________________________________________________
                                 NORTH AMERICA

Cause of Death
Hypothermia    1
Name: Cause of Death, dtype: int64
________________________________________________________________________________

##### 5. List number of cases reported month wise in year 2019 ?

In [21]:
df.head(3)

,Web ID,Region of Incident,Reported Date,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
0,51591,Mediterranean,"March 28, 2019",2019,Mar,NaN,2.0,2,36.0,NaN,2.0,NaN,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,"38.362368696592, 26.172509473654",Eastern Mediterranean,NaN,Uncategorized,5
1,51588,Mediterranean,"March 26, 2019",2019,Mar,4.0,NaN,4,11.0,3.0,NaN,1.0,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,"39.441975591614, 26.378816195919",Eastern Mediterranean,http://bit.ly/2YmiPAN,Uncategorized,5
2,51589,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on Playa del Tarajal, Ceuta, Sp...","Ceuta al día, El Pueblo de Ceuta","35.871901875921, -5.343037665842",Western Mediterranean,"http://bit.ly/2uyj7qO, http://bit.ly/2uwj5zC",Uncategorized,3

In [25]:
df[df["Reported Year"] == 2019]["Reported Month"].value_counts()

Jan    57
Feb    51
Mar    35
Name: Reported Month, dtype: int64

In [23]:
df.groupby(["Reported Year","Reported Month"]).count()["Web ID"][2019]

Reported Month
Feb    51
Jan    57
Mar    35
Name: Web ID, dtype: int64

##### 6.	What are the top migration routes

In [26]:
df["Migration Route"].value_counts()[:5]

Central America to US    1507
Central Mediterranean     499
Western Mediterranean     255
Eastern Mediterranean     230
Western Balkans            64
Name: Migration Route, dtype: int64

##### 7.	List number of cases reported yearwise and compare them¶

In [27]:
df["Reported Year"].value_counts()

2018    1506
2017    1356
2016    1275
2015     808
2014     245
2019     143
Name: Reported Year, dtype: int64

In [42]:
df.groupby(["Reported Year","Reported Month"]).count()["Web ID"][2019]

Reported Month
Feb    51
Jan    57
Mar    35
Name: Web ID, dtype: int64

In [43]:
df.groupby(["Reported Year","Reported Month"]).count()["Web ID"][2014]

Reported Month
Apr    19
Aug    27
Dec    15
Feb    14
Jan    16
Jul    33
Jun    31
Mar    19
May    22
Nov     7
Oct    19
Sep    23
Name: Web ID, dtype: int64

In [44]:
df.groupby(["Reported Year","Reported Month"]).count()["Web ID"][2017]

Reported Month
Apr     61
Aug    114
Dec    136
Feb     93
Jan    129
Jul    101
Jun    148
Mar     60
May    108
Nov    129
Oct    127
Sep    150
Name: Web ID, dtype: int64

In [45]:
df.groupby(["Reported Year","Reported Month"]).count()["Web ID"][2018]

Reported Month
Apr    126
Aug    143
Dec     58
Feb    120
Jan    117
Jul    157
Jun    176
Mar    123
May    131
Nov     82
Oct    134
Sep    139
Name: Web ID, dtype: int64

In [30]:
!pip install folium

Collecting folium
  Downloading folium-0.12.1-py2.py3-none-any.whl (94 kB)
Collecting branca>=0.3.0
  Downloading branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\sony\anaconda3\lib\site-packages (from folium) (2.11.2)
Requirement already satisfied: requests in c:\users\sony\anaconda3\lib\site-packages (from folium) (2.24.0)
Requirement already satisfied: numpy in c:\users\sony\anaconda3\lib\site-packages (from folium) (1.18.5)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\sony\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sony\anaconda3\lib\site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sony\anaconda3\lib\site-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sony\anaconda3\lib\site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sony\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1

In [31]:
temp = df.copy()

In [33]:
import folium
try:
    location = temp["Location Coordinates"].str.split(",")
    map_ = folium.Map(location=[38.362368696592, 26.172509473654])
    for point in range(0, len(location)):
        folium.Marker(location[point], popup=temp["Region of Incident"][point]).add_to(map_)
    map_.save("map_.html")
except:
    pass